<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[%title%]</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
[%IF desenv%]
<link rel="stylesheet/less" href="/static/css/bootstrap.less">
<script src="/static/script/less-1.1.5.min.js"></script>
[%ELSE%]
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
[%END%]

<link rel="stylesheet" type="text/css" href="/static/css/defs.css" />
<link rel="stylesheet" type="text/css" href="/static/css/defs_normal.css" />
</head>
<body>
[% PROCESS header.tt %]

 <div class="container">
		
      <div class="content">
		 <div class="page-header">
			<a href="/"><img src="/static/images/logo_onde_acontece.jpg" /></a>
		</div>

		[%content|none%]

	</div>
</div>
[% PROCESS footer.tt %]
</body>
</html>