<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[%title%]</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

[%IF desenv%]
<link rel="stylesheet/less" href="/static/css/bootstrap.less">
<script src="/static/script/less-1.1.5.min.js"></script>
[%ELSE%]
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
[%END%]

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/script/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/script/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static/script/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/script/jquery.flot.pie.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/defs.css" />
<link rel="stylesheet" type="text/css" href="/static/css/defs_topico.css" />
<link rel="stylesheet" type="text/css" href="/static/css/tipsy.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js""></script>
    <script src='/static/script/jquery.tipsy.js' type='text/javascript'> </script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>
    <style type="text/css">
      svg{ display:block }
      @importurl("http://mbostock.github.com/d3/style.css?1.10.0");
      @importurl("http://mbostock.github.com/d3/syntax.css?1.6.0");
   </style>
    <link href='http://mbostock.github.com/d3/ex/colorbrewer.css' rel='stylesheet' type='text/css' />
    <script src='http://mbostock.github.com/d3/d3.geo.js?2.6.0' type='text/javascript'> </script>
</head>
<body>

[% PROCESS header.tt %]
<div class="container-fluid">
	<div class="banners ">
		<div class="row">
			<div class="span4">
				<a href="/"><img  height="53" src="/static/images/logo_onde_acontece.short.jpg" /></a>
			</div>
			<div class="span8 sub_menu">
				[% SET view_name = c.action _ ".menu.tt"%]
				[% PROCESS $view_name %]
			</div>
		</div>

	</div>
</div>

<div class="container-fluid">
	[%content|none%]
</div>

[% PROCESS footer.tt %]

</body>
</html>
