
<h2>Contato</h2>

<p>
A melhor forma para entrar em contato com os desenvolveredores é através da
lista de discussão <a href="http://groups.google.com/group/opendata-br">OpenData-BR</a>.
</p>

<ul>
<li><a href="http://opendatabr-org/">http://www.opendatabr.org/</a></li>
<li><a href="http://sao-paulo.pm.org/">http://sao-paulo.pm.org/</a></li>
</ul>

